# API
EXPO_PUBLIC_API_URL=http://localhost:4000/api/v1
EXPO_PUBLIC_WS_URL=ws://localhost:4000

# Mapbox
EXPO_PUBLIC_MAPBOX_TOKEN=

# Google Maps (Android)
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=

# App info
EXPO_PUBLIC_APP_NAME=Viajero Conectado
